$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


.no-zindex{
  z-index: 0;
}
.input-group {
  width: 100%;
  margin-bottom: 15px;
  height: 35px;
}

.login{
  margin-top: 50px;
  .login-container{
    border: 1px solid #666;
  }
  .input-group input {
    text-align: center;
    margin-top: 15px;
  }
  .form-control {
    border: 1px solid #dbdbdb;
    background-color: #fff;
    padding: 0 10px 0 26px;
    z-index: 1;
    box-shadow: none;
  }
  .input-group .material-icons {
    position: absolute;
    top: 24px;
    left: 5px;
    z-index: 1;
    color: #999;
    font-size: 18px;
  }
}

.row-separation{
  margin-top: 20px;
}

.authors-list-header{
  .authors-list-column:first-child{
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
  }
  .authors-list-column{
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    border-bottom: 1px solid #666;
  }
  .authors-list-column:last-child{
    border-top: 1px solid #666;
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
  }
}
.authors-list-data{
  &:hover{
    background: #e1e1e1;
    cursor: pointer;
  }
  .authors-list-column:first-child{
    border-left: 1px solid #666;
  }
  .authors-list-column{
    border-left: 1px solid #666;
  }
  .authors-list-column:last-child{
    border-right: 1px solid #666;
  }
  &:last-child{
    .authors-list-column{
      border-bottom: 1px solid #666;
    }
  }
}
.new-author-panel{
  border: 1px solid #666;
}
.row-flex{
  display: flex;
}
