<div class="row">
  <div class="col-sm-12">
    <div class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Keywords</label>
        <input type="text" class="form-control" id="exampleInputName2" placeholder="">
      </div>
      <button type="button" class="btn btn-default">Find</button>
    </div>
  </div>
</div>

<div class="row row-separation authors-list-header">
  <div class="col-sm-3 authors-list-column">
    <span>Name</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>City</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>State</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>Phone</span>
  </div>
</div>
<div class="row authors-list-data" ng-click="vm.editAuthor(author._id)" ng-repeat="author in vm.authors track by $index">
  <div class="col-sm-3 authors-list-column">
    <span>{{author.firstName + ' ' + author.lastName}}</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>{{author.city}}</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>{{author.state}}</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>{{author.phone}}</span>
  </div>
</div>
