<div class="row">
  <div class="col-sm-12">
    <div class="form-inline">
      <div class="form-group">
        <label for="exampleInputName2">Keywords</label>
        <input type="text" class="form-control" id="exampleInputName2" ng-model="vm.searchText" placeholder="">
      </div>
      <!--<button type="button" class="btn btn-default">Find</button>-->
    </div>
  </div>
</div>

<div class="row row-separation">
  <div class="col-sm-12">
    <button class="btn btn-success" id="btn_login" ng-click="vm.createBook()"  type="button">Create new</button>
    <button type="button" class="btn btn-default" ng-click="vm.toggleRole('ALL')">
      <span ng-if="!vm.allSelected">Select all</span>
      <span ng-if="vm.allSelected">Deselect all</span>
    </button>
    <button ladda="vm.loading.delete" data-style="slide-left" type="button" class="btn btn-default" ng-click="vm.deleteSelected()">Delete selected</button>
  </div>
</div>

<div class="row row-flex row-separation authors-list-header">
  <div class="col-sm-1"></div>
  <div class="col-sm-4 authors-list-column">
    <span>Name</span>
  </div>
  <div class="col-sm-4 authors-list-column">
    <span>Author(s)</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>Publication date</span>
  </div>
</div>
<div class="row row-flex authors-list-data" ng-repeat="book in vm.books | filter:vm.searchText track by $index ">
  <div class="col-sm-1">
    <span>
      <input type="checkbox" ng-click="vm.toggleRole(book._id)" ng-checked="vm.selected.indexOf(book._id) > -1" aria-label="...">
    </span>
  </div>
  <div class="col-sm-4 authors-list-column" ng-click="vm.editBook(book._id)">
    <span>{{book.title}}</span>
  </div>
  <div class="col-sm-4 authors-list-column" ng-click="vm.editBook(book._id)">
    <ul>
      <li ng-repeat="author in book.authors track by $index">{{author.firstName + ' ' + author.lastName}}</li>
    </ul>
  </div>
  <div class="col-sm-3 authors-list-column" ng-click="vm.editBook(book._id)">
    <span>{{book.publicationDate | date:'MM/dd/yyyy'}}</span>
  </div>
</div>
