<div class="row">
  <div class="col-sm-9">
    <div class="form-inline">
      <div class="form-group">
        <p class="input-group date-box has-feedback">
          <input date-range-picker class="form-control date-picker font-11 inside-search-icon" type="text"
                 ng-model="vm.filter.date" options="vm.filter.date.opts" required/>
          <i class="glyphicon glyphicon-calendar form-control-feedback no-zindex"></i>
        </p>
      </div>
      <button ladda="vm.loading.report" data-style="slide-left" type="button" class="btn btn-default" ng-click="vm.getReport()">Find</button>
    </div>
  </div>
  <div class="col-sm-3">
    <button ladda="vm.loading.generate" data-style="slide-left" type="button" class="btn btn-default" ng-click="vm.generateRandomData()">Generate randoms sales</button>
  </div>
</div>

<div class="row row-flex row-separation authors-list-header">
  <div class="col-sm-3 authors-list-column">
    <span>Author name</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span># of titles</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>Revenue ($)</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>Avg Revenue ($/title)</span>
  </div>
</div>
<div class="row row-flex authors-list-data" ng-repeat="sale in vm.sales track by $index ">
  <div class="col-sm-3 authors-list-column" ng-click="vm.redirectTo('/authors/' + sale._id._id)">
    <span>{{sale._id.firstName + '' + sale._id.lastName}}</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>{{sale.count}}</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>{{sale.revenue}}</span>
  </div>
  <div class="col-sm-3 authors-list-column">
    <span>{{sale.avg | number : 2}}</span>
  </div>
</div>
